/* variable declarations */
:root {
    --myapp-color-background: limegreen;
    --myapp-header-height: 60px;
    --myapp-header-background: rgb(60, 60, 60);
    --myapp-header-fontsize: 18pt;
    --myapp-footer-height: 50px;
    --myapp-footer-background: rgb(15, 15, 15);
    --myapp-main-background: rgb(45, 45, 45);
    --myapp-default-space: 10px;
    --myapp-imgbutton-size: 40px;
    --myapp-imgbutton-imgsize: 25px;
    --myapp-li-height: 60px;
    --myapp-li-fontsize: 20pt;
    --myapp-li-bordercolor: rgb(120, 120, 120);
    --myapp-li-imgsize: 35px;

}

html, body {
    background-color: var(--myapp-color-background);
    margin: 0px;
    font-family: "Avenir Medium", sans-serif;
    color: white;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

/* block text selection */

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* base structure */
header {
    height: var(--myapp-header-height);
    background-color: var(--myapp-header-background);
}

main {
    height: calc(100vh - (var(--myapp-header-height) + var(--myapp-footer-height)));
    background-color: var(--myapp-main-background);
    overflow-y: scroll;
    /*padding: var(--myapp-default-space);*/
    box-sizing: border-box;
}

footer {
    height: var(--myapp-footer-height);
    background-color: var(--myapp-footer-background);

}

p {
    margin: 0;
}

/* header */
header h1 {
    margin: 0;
    /*padding-left: var(--myapp-default-space);*/
    font-size: var(--myapp-header-fontsize);
    height: 100%;
    line-height: var(--myapp-header-height);
    text-transform: uppercase;
    display: inline-block;
}

/* buttons */
.myapp-align-left {
    float: left;
}

.myapp-align-right {
    float: right;
}

/* imgbuttons */
.myapp-imgbutton {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 0;
    height: var(--myapp-imgbutton-size);
    width: var(--myapp-imgbutton-size);
    background-image: url("./img/png/menu_FILL0_wght400_GRAD0_opsz24.png");
    filter: invert(90%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--myapp-imgbutton-imgsize) var(--myapp-imgbutton-imgsize);
}

header .myapp-imgbutton {
    margin-top: calc((var(--myapp-header-height) - var(--myapp-imgbutton-size)) / 2);
}

footer .myapp-imgbutton {
    margin-top: calc((var(--myapp-footer-height) - var(--myapp-imgbutton-size)) / 2);
}

/* single img for buttons */
.myapp-img-menu {
    background-image: url("./img/png/menu_FILL0_wght400_GRAD0_opsz24.png");
}

.myapp-img-plus {
    background-image: url("./img/png/add_FILL0_wght400_GRAD0_opsz24.png");
}

.myapp-img-options {
    background-image: url("./img/png/more_vert_FILL0_wght400_GRAD0_opsz24.png");
}

.myapp-img-refresh {
    background-image: url("./img/png/sync_FILL0_wght400_GRAD0_opsz24.png");
}

/* liste */
main ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

main ul li {
    margin: 0;
    padding: 0;
    height: var(--myapp-li-height);
    border-bottom: 1px solid var(--myapp-li-bordercolor);
}

main ul li h2 {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: var(--myapp-li-height);
    margin-left: var(--myapp-default-space);
    display: inline-block;
    font-size: var(--myapp-li-fontsize);
    font-weight: normal;
}

main li .myapp-imgbutton {
    margin-top: calc((var(--myapp-li-height) - var(--myapp-imgbutton-size)) / 2);
}

main li img {
    height: var(--myapp-li-imgsize);
    width: var(--myapp-li-imgsize);
    margin-top: calc((var(--myapp-li-height) - var(--myapp-li-imgsize)) / 2);
    margin-left: var(--myapp-default-space);
    object-fit: cover;
}